---
import { SITE_TITLE } from '../consts';

import ThemeSwitcher from '../components/ThemeSwitcher.tsx';
import {Search, ExternalLink,  } from "lucide-react";
---


<header class="border-b border-stone-200 dark:border-stone-700">
<div class="container mx-auto px-4 py-6">
  <div class="flex items-center justify-between">
    <a href="/" class="flex items-center space-x-2">
      <div class="w-10 h-10 bg-stone-800 dark:bg-stone-700 flex items-center justify-center text-stone-50">
        <span class="font-serif text-lg">CD</span>
      </div>
      <div>
        <h1 class="font-serif text-xl font-bold text-stone-900 dark:text-stone-50">
            {SITE_TITLE}
        </h1>
        <p class="text-sm text-stone-500 dark:text-stone-400">
          Fullstack Developer
        </p>
      </div>
    </a>
    <div class="flex items-center space-x-4">
      <nav class="hidden md:flex space-x-6">
        <a
          href="/blog"
          class="text-stone-500 dark:text-stone-400 hover:text-stone-900 dark:hover:text-stone-50"
        >
          Blog
        </a>
        <a
          href="https://camilodavila.xyz"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center text-stone-500 dark:text-stone-400 hover:text-stone-900 dark:hover:text-stone-50 gap-2"
        >
          Portfolio <ExternalLink size={20} />
        </a>
      </nav>
      <div class="flex items-center space-x-2">
        <button
          class="text-stone-500 dark:text-stone-400"
        >
          <Search size={20}/>
          </button>
      </div>
    </div>
  </div>
</div>
</header>
